{% extends 'Navbar.html' %}
{% load static %}
{% block content %}

    <html>
    <head>
        <link href="{% static '/css/css_login_form1.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body class="auth-form-body">
    <h2 class="auth-form-h2">
        <div>Welcome Back Peeps,</div>
        <div>Catch our latest Spilled Tea!</div>
    </h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form class="auth-form-form" method="POST" >
                <h1 class="auth-form-h1">Create Account</h1>
                {% csrf_token %}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.email_id }}
                {{ form.password }}
                {{ form.date_of_birth }}

                <input type="submit" class="auth-form-button" value="Register"/>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form class="auth-form-form" method="GET" >
                <div style="color: #3a4750; font-size: 25px">Login for updates on our latest news</div>
                {% csrf_token %}
                {{ form.email_id }}
                {{ form.password }}
{#                <a class="auth-form-a" href="#">Forgot your password?</a>#}
                <button type="submit" class="auth-form-button">Login in</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="auth-form-h1">Welcome Back!</h1>
                    <p class="auth-form-p">To catch our latest news please login with your personal info</p>
                    <button class="auth-form-button ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="auth-form-h1">Hello, Friend!</h1>
                    <p class="auth-form-p">Enter your personal details and start your journey with the journalist</p>
                    <button class="auth-form-button ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
    </body>
    </html>

{% endblock %}