{% extends 'Navbar.html' %}
{% load static %}
{% block content %}

    <body class="auth-form-body">

    <h2 class="auth-form-h2">
        <div>Welcome Back Peeps,</div>
        <div>Catch our latest Spilled Tea!</div>
    </h2>
    <div class="lr-container">

        <div class="lr-form-container ">
            <form class="lr-auth-form-form lr-sign-in-container" method="POST" action="{% url 'login' %}">
                <div style="color: #3a4750; font-size: 25px">Login for updates on our latest news</div>
                {% csrf_token %}
                <div class="lr-icon">

                    <input class="lr-icon-input" value="{{ userdetails.email }}" type="text" name="username" placeholder="Email ID">
                    <i class="icon" >
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABHUlEQVRIS92V4U3DQAyFv0wAGwAbwATABrABnaAwCXQCukHZAJgARoAN2glAH7KlU0jKNVGEVP9JlLPfs599TsPE1kyMz34RXACPwPFI2T6AGfAiTimRB0cjwTNcrJM2wVecngHvA4lOgbeI/Um+rCAJ1lHi044kVyHx4V8EifsA3FWS6Dtv+fZWIOh9ONuoa8CqusxsV4ADopWxvQQeqKXgBwF+2dEXfZ4BSTZBYu9S6q0EZmOgfTiP7G6BRfGeVb4C6p9VVhOUvUh9l/HxJp4SSlzazgQGm6HgSqYpiSRdkzaIQFA1LyvouyuDCSontr7JtYBtv/+rwDHLJg7NPuM+cyuXu8jbaBPHblTBnbBf63ps1p3x+/XLnESib34QPRnKZk0rAAAAAElFTkSuQmCC"/>
                    </i>
                    
                </div>
                <div class="lr-icon">
                    <input class="lr-icon-input" type="password" name="password"
                           placeholder="Password">

                    <i class="icon"">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA10lEQVRIS+2UwQ3CMAxFX0dgAzYBNmAD2AAxAbABbAATABuwCSvABKCPHGFFKWkO4VA1lyaS87/97LSh8moq6zMYZAn3E9EcWAFT4AHcgIN9s0jigBjREVi0qOyAbamDN1DmZxNYAxfbL4GN7WellXgDoZgAEt9HmSpzmVwBJdJ5eYOX3RoZey8yBu6dVfk+4L8aBESpZqYQhYpDkvH5U3BbkyV4MiSaqjA9vsnFBtILmaZwp5rv47IVhGA9MBlpop42lpoqISxe/fwXFWP4dWFAlMVZHdEbVnknGYpA66kAAAAASUVORK5CYII="/>
                    </i>
  
                </div>
                               <p>
                                {{ userdetails.status}}
                               </p> 
                <!-- {#                <a class="lr-auth-form-a" href="#">Forgot your password?</a>#} -->
                <button type="submit" class="lr-auth-form-button">Login in</button>
                <a href="{% url 'register' %}" class="lr-auth-form-button-screen-size-min lr-ghost" id="signUp">Sign Up</a>
            </form>

        </div>
        <div class="lr-overlay-container">
            <div class="lr-overlay">
                <div class="lr-overlay-panel lr-overlay-right">
                    <h1 class="lr-auth-form-h1">Hello, Friend!</h1>
                    <p class="lr-auth-form-p">Enter your personal details and start your journey with the journalist</p>

                    <a href="{% url 'register' %}" class="lr-auth-form-button lr-ghost" id="signUp">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1" cy="65.1" r="62.1"/>
                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
            </svg>
            <p class="success">Registration Successful</p>

        </div>
    </div>
    {% if registration_success %}
        <script>
            let modalBtn = document.getElementById("modal-btn")
            let modal = document.querySelector(".modal")
            let closeBtn = document.querySelector(".close-btn")
            window.onload = function () {
                modal.style.display = "block"
            };

            closeBtn.onclick = function () {
                modal.style.display = "none"
            }
            window.onclick = function (e) {
                if (e.target == modal) {
                    modal.style.display = "none"
                }
            }
        </script>

    {% endif %}

    </body>


{% endblock %}