{% extends 'Navbar.html' %}
{% load static %}
{% block content %}

    <body class="auth-form-body">

    <h2 class="auth-form-h2">
        <div>Welcome Back Peeps,</div>
        <div>Catch our latest Spilled Tea!</div>
    </h2>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form class="auth-form-form" method="POST" action="{% url 'login' %}" >
                <div style="color: #3a4750; font-size: 25px">Login for updates on our latest news</div>
                {% csrf_token %}
                <input class="auth-form-input" type="text" name="username" placeholder="Email ID">
                <input class="auth-form-input" type="password" name="password" placeholder="Password">
                {#                <a class="auth-form-a" href="#">Forgot your password?</a>#}
                <button type="submit" class="auth-form-button">Login in</button>
                      {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="auth-form-h1">Hello, Friend!</h1>
                    <p class="auth-form-p">Enter your personal details and start your journey with the journalist</p>

                    <a href="{% url 'register' %}" class="auth-form-button ghost" id="signUp">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
<div class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1" cy="65.1" r="62.1"/>
                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
            </svg>
            <p class="success">Registration Successful</p>

        </div>
    </div>
    {% if registration_success %}
        <script>
            let modalBtn = document.getElementById("modal-btn")
            let modal = document.querySelector(".modal")
            let closeBtn = document.querySelector(".close-btn")
            window.onload = function () {
                modal.style.display = "block"
            };

            closeBtn.onclick = function () {
                modal.style.display = "none"
            }
            window.onclick = function (e) {
                if (e.target == modal) {
                    modal.style.display = "none"
                }
            }
        </script>

    {% endif %}

    </body>


{% endblock %}