{% extends 'Navbar.html' %}
{% load static %}
{% block content %}
    <html>
    <head>
        <link href="{% static '/css/css_login_form1.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="">
    </head>
    <body class="lr-uth-form-body">
    <h2 class="lr-auth-form-h2">
        <div>Welcome Back Peeps,</div>
        <div>Catch our latest Spilled Tea!</div>
    </h2>
    <div class="lr-container right-panel-active" id="container">
        <div class="lr-form-container lr-sign-up-container">
            <form class="lr-auth-form-form" method="POST">
                <h1 style="
    font-weight: bold;
    margin: 0px auto;
    color:  #303841;
    font-family: 'Lato',serif;
">Create Account</h1>
                
                {% csrf_token %}

                <input class="lr-auth-form-input" value="{{userdetails.firstname}}" type="text" pattern="[A-Za-z]{2,15}" title="First Name Cannot Have Digits or Special Characters" name="reg_firstname" placeholder="First Name" required>
                <input class="lr-auth-form-input" value="{{userdetails.lastname}}"type="text" pattern="[A-Za-z]{2,15}" title="First Name Cannot Have Digits or Special Characters" name="reg_lastname" placeholder="Last Name" required>
                <input class="lr-auth-form-input" value="{{userdetails.emailId}}"type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter A Proper Email ID" name="reg_emailId" placeholder="Email ID" required>
                <input class="lr-auth-form-input" value="{{userdetails.password}}" type="password" name="reg_password" placeholder="Password" required>
                <input class="lr-auth-form-input" value="{{userdetails.date}}"type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                       name="dateofbirth" placeholder="Date Of Birth" required>
                <input class="lr-auth-form-input" value="{{userdetails.phone_no}}" type="text" pattern="[6789][0-9]{9}" name="reg_phone_number" minlength="10" maxlength="14" placeholder="Phone Number"
                       required>

                <select class="lr-auth-form-input" id="Gender" name="Gender" required>
                    {% if userdetails.gender == 'Male' %}
                    <option disabled>Gender</option>
                    <option value="Male" selected="true" >Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                    {% elif userdetails.gender == 'Female' %}
                    <option disabled>Gender</option>
                    <option value="Male"  >Male</option>
                    <option value="Female" selected="true">Female</option>
                    <option value="Other">Other</option>
                    {% elif userdetails.gender == 'Other' %}
                    <option disabled>Gender</option>
                    <option value="Male"  >Male</option>
                    <option value="Female" >Female</option>
                    <option value="Other" selected="true">Other</option>
                    {% else %}
                    <option selected="true" disabled>Gender</option>
                    <option value="Male"  >Male</option>
                    <option value="Female" >Female</option>
                    <option value="Other" >Other</option>
                    {% endif %}
                    
                </select>
                <p >{{ message }}</p>
                <input type="submit" class="lr-auth-form-button" value="Register"/>
                <a href="{% url 'login' %}" class="lr-auth-form-button-screen-size-min lr-ghost" id="signIn">Sign In</a>

            </form>
        </div>
        <div class="lr-overlay-container">
            <div class="lr-overlay">
                <div class="lr-overlay-panel lr-overlay-left">
                    <h1 class="lr-auth-form-h1">Welcome Back!</h1>
                    <p class="lr-auth-form-p">To catch our latest news please login with your personal info</p>
                   
                    
                       
                    <a href="{% url 'login' %}" class="lr-auth-form-button lr-ghost" id="signIn">Sign In</a>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer-for-pages">
        <div class="flexcontainer-column">
            <div class="flex-container">
                <div style="margin-left: 20px">
                    <div>
                        <div>ABOUT</div>
                        The Journalist Done By
                    </div>
                    <list>
                        <ul class="ul-styles"> Reuben Coutinho</ul>
                        <ul class="ul-styles"> Anshika Gupta</ul>
                        <ul class="ul-styles"> Rhea Rodrigues</ul>
                        <ul class="ul-styles"> Ankita Tripathi</ul>
                    </list>
        
                </div>
                <hr>
                <div style="margin-right: 100px">
        
                    <div>CONTENTS</div>
                    <list>
                        <ul style="margin:0px;">Latest</ul>
                        <ul style="margin:0px;">India</ul>
                        <ul style="margin:0px;">Education</ul>
                        <ul style="margin:0px;">Business</ul>
                        <ul style="margin:0px;">world</ul>
                        <ul style="margin:0px;">Technology</ul>
                        <ul style="margin:0px;">Health</ul>
                    </list>
        
                </div>
        
            </div>
        
        
        </div>
        
    </footer>
    </body>
    </html>

{% endblock %}