{% extends 'Navbar.html' %}

{% load static %}

{% block content %}
    <style>
        .admins_view_all_users {
            background-color: rgba(255, 255, 255, 0.13);
            color: white;
            width: 300px;
            margin: 30px 10px;
            height: 376px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;

            display: inline-flex;

            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }

        .admins_view_all_users-image {
            width: 280px;
            height: 280px;
            object-fit: cover;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;


        }
        .admins_view_all_users-image-p {
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            background-color: #3a4750;
            width: 280px;
            height:120px;
            padding: 10px;
            font-family: Lato,serif;


        }
    </style>
    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
     <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://compote.slate.com/images/aa75ab07-c2b0-490a-8660-69deb6238279.png?width=780&height=520&rect=432x288&offset=0x0"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
            Journalist
            Admin
        </p>
    </div>

    <div class="admins_view_all_users">
        <img class="admins_view_all_users-image"
             src="https://static.wikia.nocookie.net/brooklynnine-nine/images/5/53/GinaS5.jpg/revision/latest?cb=20200214190416"
             alt="">
        <p class="admins_view_all_users-image-p">
            Name : Reuben Coutinho
            <br>
            Subsrciber
              Journalist
            Admin

        </p>
    </div>
    {% include 'footer.html' %}
{% endblock %}
