{% extends 'Navbar.html' %}
{% load static %}
{% block content %}

<body class="auth-form-body">

<h2 class="auth-form-h2">

    <div>Catch our latest Spilled Tea!</div>
</h2>
<div class="container" id="container">


    <div class="form-container sign-in-container">

        <form class="post-auth-form-form" method="POST" action="{% url 'posts' %}">
            <div style="display:inline-block">
                <div style="color: #3a4750; font-size: 25px; margin: auto">Post an Article</div>
                {% csrf_token %}


                <input class="auth-form-input" type="text" name="imageLink" placeholder="Image Link">


                <input class="auth-form-input" type="text" name="postTitle" placeholder="Title">

                <select class="auth-form-input" name="category">
                    <option value="Latest">Latest</option>
                    <option value="india">India</option>
                    <option value="world">World</option>
                    <option value="technology">Technology</option>
                    <option value="health">Health</option>
                    <option value="education">Education</option>
                    <option value="business">Business</option>
                </select>


                <select class="auth-form-input" name="section">
                    <option value="top-stories">Top Stories</option>
                    <option value="Matrix1x1">Matrix1x1</option>
                    <option value="Matrix1x2">Matrix1x2</option>
                    <option value="Matrix1x3">Matrix1x3</option>
                    <option value="Matrix2x4">Matrix2x4</option>
                    <option value="Matrix2x5">Matrix2x5</option>
                    <option value="Matrix2x5">Matrix2x5</option>
                </select>
            </div>
            <div style="display: inline">
                <input class="auth-form-input" type="file">
                <textarea class="auth-form-input" name="postDesc" placeholder="description" rows="4"
                          cols="20"></textarea>
                <div class="icon-bg-auth-form-bg"></div>
            </div>
            <button type="submit" class="auth-form-button">Login in</button>

                <!--            <div class="icon-auth-form-input">-->

        </form>
    </div>
</div>
<div class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                    cx="65.1" cy="65.1" r="62.1"/>
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                      stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>
        <p class="success">Posted !</p>

    </div>
</div>
{% if registration_success %}
<script>
    let modalBtn = document.getElementById("modal-btn")
    let modal = document.querySelector(".modal")
    let closeBtn = document.querySelector(".close-btn")
    window.onload = function () {
        modal.style.display = "block"
    };

    closeBtn.onclick = function () {
        modal.style.display = "none"
    }
    window.onclick = function (e) {
        if (e.target == modal) {
            modal.style.display = "none"
        }
    }
</script>

{% endif %}

</body>


{% endblock %}