{% extends 'Navbar.html' %}

{% load static %}
<head>
<link href="{% static '/css/india1.css' %}" rel="stylesheet">
</head>
{% block content %}

<div class="wrapper">
    <div class="id1">
        <h1>Trending</h1>
        <span id="by"></span>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YMfSZAz_KIg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p style="font-size: 30px">Much good news as India bends the Covid graph, but the worst performing state is a surprise</p>
    </div>
    <div id="id2">
         <div class="card1 india">
                <div class="con">

                    <p>Students Who Missed JEE Advanced Can Directly Appear in 2021: JAB
                        </p>
                </div>
            </div>
        <div class="card1 india">
                <div class="con">

                    <p>Rising COVID Cases in K’Taka, Yet RGUHS Conducting Offline Exams</p>
                </div>
            </div>
    </div>
    <div id ="id3">
            <div class="india-page-cont">

                    <img src="https://c.ndtvimg.com/2020-09/tsosgnm_joe-biden-afp_625x300_30_September_20.jpg"
                         alt="Nature" >
                   <div class="india-page-text-block">

                        <p>Can Trump Pull It Off? The Odds Favour Biden, But...</p>
                    </div>
                </div>
    </div>

</div>
<br>
<br>
<!--grid part 2 starts from here-->
<div class="wrap2" id="wrap2">
    <div>
        <div class="card-3">
            <div class="con">
                        EVM | EC Gives Different Answers to a Single RTI Query. Surprised?
            </div>
        </div>
    </div>
    <div>
        <div class="card-3">
            <div class="con">
                       Punjab Govt to Bring in New Legislation Against Centre’s Farm Laws

            </div>
        </div>
    </div>
    <div>
        <div class="card-3">
            <div class="con">
                        Bihar: Latest Opinion Poll Reveals the Dangers of Seat Prediction
            </div>
        </div>
    </div>
    <div>
        <div class="card-3">
            <div class="con">
                        Lockdown Helped Me Manage My Borderline Personality Disorder
            </div>
        </div>
    </div>

</div>
<div>
    <p style="font-size: 80px;color: white">Trending Topics ! <span id="spin"></span></p>
</div>
<div class="wrap3">
<!--    frame 1-->
    <div>
        <p style="font-size: 20px;color: white">IMF's biannual world economic outlook | India's GDP to contract | India News</p>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/mZKyqZ9VVXk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
<!--    frame 2ss-->
    <div>
        <p style="font-size: 20px;color: white">IMF Chief speaks on economic impact of the coronavirus pandemic | World News</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yDLnNATbv-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
    </div>
</div>
{% endblock %}
