{% extends 'Navbar.html' %}

{% load static %}
<head>
<link href="{% static '/css/india.css' %}" rel="stylesheet">
</head>
{% block content %}

<div class="wrapper">

    <div class="id1">
        <h1>Trending</h1>
        <span id="by"></span>

         {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-1' %}
                    <div class="india-page-cont">
                    <a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">

                        <iframe width="560" height="315" src="{{ india_story.image_link }}"
                              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{#                     <div class="india-page-text-block">#}
                <p style="font-size: 30px;"> {{ india_story.title }}</p>
{#                     </div>#}
                    </a>
                {% endif %}
            {% endfor %}

{#        <iframe width="560" height="315" src="https://www.youtube.com/embed/YMfSZAz_KIg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}

    </div>

    </div>
    <div id="id2">
         <div class="card1 india">
{#             <div class="india-page-text-block">#}


               {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-2' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}
{#                    </div>#}

            </div>
        <div class="card1 india">
                {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-3' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}
            </div>
    </div>
    <div id ="id3">


            {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-4' %}
                    <div class="india-page-cont">
                    <a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">


                        {% if india_story.image != '' %}
                        <img
                             src="{{ india_story.image }}"
                             alt="">
                          {% else %}
                        <img

                                 src="{{ india_story.image_link }}"
                                 alt="">
                        {% endif %}


                     <div class="india-page-text-block">

                <p> {{ india_story.title }}</p>

                     </div>

                    </a>

                {% endif %}

            {% endfor %}



     </div>
    </div>

</div>
<br>
<br>
<!--grid part 2 starts from here-->
<div class="wrap2" id="wrap2">
    <div>
        <div class="card-3">
             {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-5' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}


        </div>
    </div>
    <div>
        <div class="card-3">
             {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-6' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}
        </div>
    </div>
    <div>
        <div class="card-3">
            {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-7' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}
        </div>
    </div>
    <div>
        <div class="card-3">
             {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-8' %}

                        <div class="con">
                        <p style="color: white"><a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">
                            {{ india_story.title }}
                      </a></p>
                        </div>

                {% endif %}

            {% endfor %}
        </div>
    </div>

</div>
<div>
    <p style="font-size: 80px;color: white">Trending Topics ! <span id="spin"></span></p>
</div>
<div class="wrap3">
<!--    frame 1-->
    <div>

         {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-9' %}
                    <div class="india-page-cont">
                    <a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">

                         <p style="font-size: 20px;color: white">{{ india_story.title }}</p>

                        <iframe width="560" height="315" src="{{ india_story.image_link }}"
                              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    </div>
                {% endif %}
            {% endfor %}



    </div>
<!--    frame 2ss-->
    <div>
         {% for india_story in india_stories %}
                {% if india_story.section == 'india-cell-10' %}
                    <div class="india-page-cont">
                    <a href="{% url 'article' india_story.category india_story.section india_story.news_unique_id %}"
                       style="text-decoration: none">

                         <p style="font-size: 20px;color: white">{{ india_story.title }}</p>

                        <iframe width="560" height="315" src="{{ india_story.image_link }}"
                              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </a>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</div>
    </div>
</div>
        {% include 'footer.html' %}
{% endblock %}
