{% extends 'Navbar.html' %}

{% load static %}

{% block content %}
   <div class="center-the-grid">
    {#<h1>This is The Education News Page</h1>#}
    <div class="education-grid-container">
        <div id="education-content1">
            <div class="cont">

                <img src="https://images.thequint.com/thequint%2F2018-08%2F9b7cf7c8-4db9-4ce1-bdd4-72376228838d%2Fec6c9f38_89ae_4111_a2e3_22abe6df8bd9.jpg?rect=0%2C0%2C640%2C360&auto=format%2Ccompress&fmt=webp&format=webp&w=480&dpr=1.0"
                     alt="Nature" style="width:100%;">
                <div class="text-block">

                    <p>Self-Care in a Pandemic: How Do You Be Kind to Yourself?</p>
                </div>
            </div>

        </div>
        <div id="education-content2">
            <div class="card1">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>


            </div>

            <div class="card1">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>
            </div>


        </div>
        <div id="education-content3">
             <div class="c">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>
                <img src="https://images.thequint.com/thequint-fit%2F2020-10%2F4727f987-3128-4685-a629-9e2a592c234c%2FiStock_1209719317.jpg?auto=format%2Ccompress&fmt=webp&format=webp&w=240&dpr=1.0 "
                     alt="Avatar" style="width:100%">

            </div>


        </div>
        <div id="education-content4">
            <div class="c">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>
                <img src="https://images.thequint.com/thequint-fit%2F2020-10%2F4727f987-3128-4685-a629-9e2a592c234c%2FiStock_1209719317.jpg?auto=format%2Ccompress&fmt=webp&format=webp&w=240&dpr=1.0 "
                     alt="Avatar" style="width:100%">

            </div>
        </div>

        <div id="education-content6">

            <div class="card1">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>


            </div>

            <div class="card1">
                <div class="con">

                    <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                        Bobcat
                        Fire: Fire Burns Through More Than 106K Acres; Flames</p>
                </div>
            </div>

        </div>
        <div id="education-content5">
           <div class="cont">

                <img src="https://images.thequint.com/thequint%2F2020-04%2F762d6441-e6a9-47cb-9438-2228ad1e0c47%2Fanthony_hi.jpg?rect=0%2C0%2C2000%2C1125&auto=format%2Ccompress&fmt=webp&format=webp&w=576&dpr=1.0"
                     alt="Nature" style="width:100%;">
                <div class="text-block">

                    <p>Provide Gadgets and Net Packs to EWS Students: Delhi HC to Schools</p>
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}
