{% extends 'Navbar.html' %}

{% load static %}

{% block content %}
   <div class="center-the-grid">
    {#<h1>This is The Education News Page</h1>#}
    <div class="education-grid-container">
        <div id="education-content1">
            <div class="cont">

                <img src="https://www.ndtv.com/education/cache-static/media/presets/625X400/article_images/2020/10/14/Exams_Vy3skDC.webp"
                     alt="Nature" style="width:100%;">
                <div class="text-block">

                    <p>Karnataka Chief Minister, Health Minister Help Girl Student Write NEET Re-Exam Today</p>
                </div>
            </div>

        </div>
        <div id="education-content2">
            <div class="card1">
                <div class="con">

                    <p>NEET 2020 Phase 2 Exam Analysis Out; Students Found Paper Moderate</p>
                </div>


            </div>

            <div class="card1">
                <div class="con">

                    <p>UPSEE Results On October 15 At Upsee.nic.in</p>
                </div>
            </div>


        </div>
        <div id="education-content3">
             <div class="c">
                <div class="con">
                <img src=" https://www.ndtv.com/education/cache-static/media/presets/625X400/article_images/2020/10/14/empty_seats.webp"
                     alt="Avatar" style="width:100%">
                    <p>Schools For Classes 10, 12 To Reopen In Uttarakhand From November 1</p>
                </div>


            </div>


        </div>
        <div id="education-content4">
            <div class="c">
                <div class="con">
                     <img src="https://www.ndtv.com/education/cache-static/media/presets/625X400/article_images/2020/10/14/school-class.webp"
                     alt="Avatar" style="width:100%">
                    <p>Cabinet Approves New STARS Project To Strengthen School Education System</p>
                </div>

            </div>
        </div>

        <div id="education-content6">

            <div class="card1">
                <div class="con">

                    <p>Kangra Planning To Test All School Students, Teachers For COVID-19</p>
                </div>


            </div>

            <div class="card1">
                <div class="con">

                    <p>Delhi Government To Frame Policy For Regulating Coaching Institutes</p>
                </div>
            </div>

        </div>
        <div id="education-content5">
           <div class="cont">

                <img src="https://images.thequint.com/thequint%2F2020-04%2F762d6441-e6a9-47cb-9438-2228ad1e0c47%2Fanthony_hi.jpg?rect=0%2C0%2C2000%2C1125&auto=format%2Ccompress&fmt=webp&format=webp&w=576&dpr=1.0"
                     alt="Nature" style="width:100%;">
                <div class="text-block">

                    <p>Provide Gadgets and Net Packs to EWS Students: Delhi HC to Schools</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer-for-pages">
        <div class="flexcontainer-column">
            <div class="flex-container">
                <div style="margin-left: 20px">
                    <div>
                        <div>ABOUT</div>
                        The Journalist Done By
                    </div>
                    <list>
                        <ul class="ul-styles"> Reuben Coutinho</ul>
                        <ul class="ul-styles"> Anshika Gupta</ul>
                        <ul class="ul-styles"> Rhea Rodrigues</ul>
                        <ul class="ul-styles"> Ankita Tripathi</ul>
                    </list>
        
                </div>
                <hr>
                <div style="margin-right: 100px">
        
                    <div>CONTENTS</div>
                    <list>
                        <ul style="margin:0px;">Latest</ul>
                        <ul style="margin:0px;">India</ul>
                        <ul style="margin:0px;">Education</ul>
                        <ul style="margin:0px;">Business</ul>
                        <ul style="margin:0px;">world</ul>
                        <ul style="margin:0px;">Technology</ul>
                        <ul style="margin:0px;">Health</ul>
                    </list>
        
                </div>
        
            </div>
        
        
        </div>
        
    </footer>
   </div>
{% endblock %}
