{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

   <div class="education-container">
        <div id="education-main1">
            {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-1' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none">
                    {% if education_story.image != '' %}

                        <img class="education-image-css-main"
                             src="{{ education_story.image }}"
                             alt="">
                          {% else %}
                        <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}


        </div>
        <div id="education-main2">
            {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-2' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content1">
             {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-3' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content2">
             {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-4' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content3">
            {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-5' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content4">
            {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-6' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content5">
           {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-7' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content6">
            {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-8' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content7">
             {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-9' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="education-content8">
             {% for education_story in education_stories %}
                {% if education_story.section == 'education-cell-10' %}
                    <a href="{% url 'article' education_story.category education_story.section education_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if education_story.image != '' %}

                            <img class="education-image-css-main"

                                 src="{{ education_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="education-image-css-main"

                                 src="{{ education_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="education-p-tag-css">
               {{ education_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}
