{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

    <style>



        .article-container {
            display: grid;
            height: 100vh;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.2fr 2fr 2fr 2fr 1fr;
            grid-template-areas:

    "content main main content1"
    "content main main content1"
    "content main main content1"
    "content main main content1";
            grid-gap: 0.2rem;
            font-weight: 800;
            font-family: 'Lato', serif;
            font-size: 12px;
            color: #fff5ea;
            text-align: justify;
        }


        .article-hello {
            background: #303841;
            grid-area: main;

            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
            overflow: scroll;
            overflow-x: hidden;
        }

        .article-hello::-webkit-scrollbar {
            width: 5px;
        }


        .article-hello::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.13); /* color of the tracking area */
        }

        .article-hello::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.13); /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 3px solid transparent; /* creates padding around scroll thumb */
        }

        #article-content1 {
            background: #3a4750;
            grid-area: content1;
            height: 100vh;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
        }

        #article-content {
            background: #3a4750;
            grid-area: content;
            height: 100vh;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
        }


        @media screen and (max-width: 550px) {
            .article-container {
                grid-template-columns: 1fr;
                grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
                grid-template-areas:

      "main"
      "main"
      "main"
      "main"
      "main"
      "main";
            }

            #article-content1 {
                display: none
            }

            #article-content {
                display: none
            }
        }

    </style>

    <div class="article-container">

        <div class="article-hello">

            <div><img style="width: 100%;"
                      src="https://c.ndtvimg.com/2020-05/5ko0k9tc_coronavirus-vaccine-reuters_625x300_20_May_20.jpg"
                      align=left/></div>
            <p style="word-spacing: 5px;line-height: 25px;  ">
                iPhone 12 mini, iPhone 12, iPhone 12 Pro, and iPhone 12 Pro Max pre-order details in India have been
                revealed just days after their official launch. While the iPhone 12 and iPhone 12 Pro will go up for
                pre-orders starting October 23, the iPhone 12 mini and iPhone 12 Pro Max pre-orders will begin November
                6. iPhone 12 Mini and iPhone 12 Pro Max pre-orders timeline is same as the pre-orders planned in markets
                including the US, UK, Australia, China, Germany, and Japan. However, the iPhone 12 and iPhone 12 Pro
                will go on pre-orders in the first batch of countries from October 16 and will go on sale from October
                23.

                Apple has revealed the India pre-order details for the iPhone 12 mini, iPhone 12, iPhone 12 Pro, and the
                iPhone 12 Pro Max through its official website. At the time of the launch, the company announced that
                the iPhone 12 and iPhone 12 Pro would go on sale in the country starting October 30. It, however, didn't
                make any announcements about the pre-orders.

                The India availability of the iPhone 12 mini and iPhone 12 Pro Max is still a mystery. Nevertheless, it
                is likely to align with the release date set for the US and other key markets that is November 13.

                iPhone 12 mini, iPhone 12, iPhone 12 Pro, iPhone 12 Pro Max price in India
                iPhone 12 mini price in India starts at Rs. 69,900 for the base 64GB storage variant. However, the 128GB
                storage model of the iPhone 12 mini is priced at Rs. 74,900, while its 256GB storage option is at Rs.
                84,900. The iPhone 12, on the other front, comes at Rs. 79,900 for the 64GB, whereas its 128GB and 256GB
                storage models are priced at Rs. 84,900 and Rs. 94,900, respectively. The iPhone 12 Pro price is set at
                Rs. 1,19,900 for the 128GB storage variant, while its 256GB storage model is priced at Rs. 1,29,900 and
                the top-end 512GB storage option is at Rs. 1,49,900. Lastly, the iPhone 12 Pro Max carries a price tag
                of at Rs. 1,29,900 for the 128GB storage variant, while its 256GB and 512GB storage options are priced
                at Rs. 1,39,900 and Rs. 1,59,900, respectively.
            </p></div>
        <div id="article-content">sidebar 1</div>
        <div id="article-content1">sidebar 2</div>


    </div>
    {% include 'footer.html' %}

{% endblock %}
