{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

    <style>


        .article-container {
            display: grid;
            height: 100vh;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.2fr 2fr 2fr 2fr 1fr;
            grid-template-areas:

    "content main main content1"
    "content main main content1"
    "content main main content1"
    "content main main content1";


            font-family: 'Lato', serif;
            font-size: 2vh;
            color: #fff5ea;
            text-align: justify;
            column-gap: 10px;
            margin-top: 30px;
        }


        .article-hello {
            background: #303841;
            grid-area: main;
            height: inherit;

            overflow: scroll;
            overflow-x: hidden;
            text-align: center;
            padding: 40px;
        }

        .article-hello::-webkit-scrollbar {
            width: 5px;

        }


        .article-hello::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.13); /* color of the tracking area */
        }

        .article-hello::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.13); /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 3px solid transparent; /* creates padding around scroll thumb */
        }

        #article-content1 {
            background: #3a4750;
            grid-area: content1;
            height: 100vh;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
        }

        #article-content {
            background: #3a4750;
            grid-area: content;
            height: 100vh;
            border-radius: var(--main-radius);
            padding-top: var(--main-padding);
        }

        .article-p-tag {
            word-spacing: 5px;
            line-height: 25px;
            text-align: justify !important;
        }

        @media screen and (max-width: 1000px) {
            .article-container {
                grid-template-columns: 1fr;
                grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
                grid-template-areas:

      "main"
      "main"
      "main"
      "main"
      "main"
      "main";
            }

            #article-content1 {
                display: none
            }

            #article-content {
                display: none
            }

            .article-p-tag {
                word-spacing: 2px;
                line-height: 35px;
                text-align: justify !important;
            }
        }

    </style>

    <div class="article-container">

        <div class="article-hello">

            <div style="margin: 20px auto !important;">

                  {% if article_dictionary.image != '' %}

                          <img style="width: 100%; max-width: 600px;" src="{{ article_dictionary.image }}"
                                                            align=left/>
                        {% else %}
                              <img style="width: 100%; max-width: 600px;" src="{{ article_dictionary.image_link }}"
                                                            align=left/>
                        {% endif %}



            </div>
            <p class="article-p-tag">
                {% autoescape off %}
               {{ article_dictionary.content }}
                {% endautoescape %}
            </p></div>
        <div id="article-content">sidebar 1</div>
        <div id="article-content1">sidebar 2</div>


    </div>
    {% include 'footer.html' %}

{% endblock %}
