
.aarr-html {
    font-family: 'Robota', sans-serif;
    font-size: 10px;
    display: inline-block;
}

.aarr-body {
 
    background-color: transparent;


}

.news-post {
    min-height: 400px;
    min-width: 400px;
    height: 400px;
    display: inline-block;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

.news-post-info {
    padding-top: 50px;
}

.news-post-img {
    min-width: 20rem;
    height: 20rem;
    position: absolute;

}

.news-post-img img {
   
    height: 100%;
    width: 400px;
    object-fit: cover;
    display: block;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
}

.news-post-text {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 300px 0px 0px 0px;
    position: absolute;
    font-size: 15px;
    width: 65%;
    color: rgba(0, 0, 0, 0.7);
}

.news-post-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    position: absolute;
    /*padding:25px;*/
    font-size: 15px;
    margin: 170px 0px 0px 0px;
    color: #eeeeee;
    width: 100%;
    text-decoration: none;
    padding: 20px;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #222222;
    top: 108px;
    padding: 20px;
}
