{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
    <style>
        .flex-display-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #eeeeee;
            font-family: Lato, serif;
        }

        .flex-display-message > img {
            width: 50%;
        }


        @media (max-width: 600px) {
            .flex-display-message > img {
                width: 80%;
            }
        }
    </style>
    <div class="flex-display-message">
        <img width="50%"
             src="https://myawsbucketreuben.s3.ap-south-1.amazonaws.com/thejournalist/404ErrorPage.svg"
             alt=""/>
        {% if Error %}
            {{ Error }}
        {% endif %}
        <h1> Not Found What You Were Searching For, You Might Find it Later!</h1>
    </div>
{% endblock %}