{% extends 'Navbar.html' %}

{% load static %}

{% block content %}
<body>


<!--put your map api javascript url with key here-->
<script src="https://apis.mapmyindia.com/advancedmaps/v1/gpbxme3lewuxxgpj5dfkpy4n53o5l4g2/map_load?v=1.5"></script>
<script>
  var map = null;
  var latitude,longitude;
  window.onload = function() {
      getLocation()
      function  getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);

          } else {
              x.innerHTML = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position){
          latitude=position.coords.latitude;
          longitude= position.coords.longitude;
          console.log(latitude,longitude)

      var centre = new L.LatLng(latitude,longitude);
      console.log("Hello RUN",latitude,longitude)
      map=new MapmyIndia.Map('map',{center:centre,zoomControl: true,hybrid:true });
      /*1.create a MapmyIndia Map by simply calling new MapmyIndia.Map() and passsing it at the minimum div object, all others are optional...
      2.all leaflet mapping functions can be called simply on the L object
      3.MapmyIndia may extend and in future modify the customised/forked Leaflet object to enhance mapping functionality for developers, which will be clearly documented in the MapmyIndia API documentation section.*/
      }
      var event_div = document.getElementById("event-log");
      /***map-events****/
      map.on("dblclick", function(e) {
          var pt = e.latlng;/*event returns lat lng of clicked point*/
          event_div.innerHTML= "dbclick:</br> lat:" + pt.lat + "</br>lng:" + pt.lng + "</br>" + event_div.innerHTML;
      });
      map.on("click", function(e) {
          var pt = e.latlng;/*event returns lat lng of clicked point*/
          event_div.innerHTML= "click:</br> lat:" + pt.lat + "</br>lng:" + pt.lng + "</br>" + event_div.innerHTML;
      });
      map.on("resize", function(e) {
          event_div.innerHTML="map resized</br>" + event_div.innerHTML;
      });
      map.on("mouseup", function(e) {
          var pt = e.latlng;/*event returns lat lng of current point*/
          event_div.innerHTML = "mouseup:</br> lat:" + pt.lat + "</br>lng:" + pt.lng + "</br>" + event_div.innerHTML;
      });
      map.on("mousedown", function(e) {
          var pt = e.latlng;/*event returns lat lng of current point*/
          event_div.innerHTML = "mousedown:</br> lat:" + pt.lat + "</br>lng:" + pt.lng + "</br>" + event_div.innerHTML;
      });
  };

</script>

<div class="world-container">
  <div id="map" ></div>
  <div id="world-main1">
      {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-1' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none">
                    {% if world_story.image != '' %}

                        <img class="world-image-css-main"
                             src="{{ world_story.image }}"
                             alt="">
                          {% else %}
                        <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}

  </div>
  <div id="world-main2">
      {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-2' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none">
                    {% if world_story.image != '' %}

                        <img class="world-image-css-main"
                             src="{{ world_story.image }}"
                             alt="">
                          {% else %}
                        <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}
  </div>
  <div id="world-content1">
    {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-3' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
      </div>
  <div id="world-content2">
   {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-4' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
  </div>
  <div id="world-content3">
      {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-5' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

  </div>
  <div id="world-content4">
    {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-6' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
  </div>
  <div id="world-content5">
    {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-7' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="world-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
  </div>
  <div id="world-content6">
   {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-8' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="world-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
  </div>

  <div id="world-content7">
    {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-9' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="world-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

  </div>
<div id="world-content8">
   {% for world_story in world_stories %}
                {% if world_story.section == 'world-cell-10' %}
                    <a href="{% url 'article' world_story.category world_story.section world_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if world_story.image != '' %}

                            <img class="world-image-css-main"

                                 src="{{ world_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="world-image-css-main"

                                 src="{{ world_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="world-p-tag-css">
               {{ world_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
  </div>

       {% include 'footer.html' %}
</div>
<!--<script type="text/javascript">!function(t,e){t.artibotApi={l:[],t:[],on:function(){this.l.push(arguments)},trigger:function(){this.t.push(arguments)}};var a=!1,i=e.createElement("script");i.async=!0,i.type="text/javascript",i.src="https://app.artibot.ai/loader.js",e.getElementsByTagName("head").item(0).appendChild(i),i.onreadystatechange=i.onload=function(){if(!(a||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState)){new window.ArtiBot({i:"b5a74815-0d08-4784-8ded-c259a0b5db58"});a=!0}}}(window,document);</script>-->
{% endblock %}
</body>
</html>