
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #3a4750;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    font-family: 'Lato', serif;
    text-decoration: none;
    font-size: 20px;
    color: #eeeeee;
    display: block;
    transition: 0.3s;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 10px;

}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: rgba(255,255,255,0.15);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -30px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
