:root {
  --main-radius: 5px;
  --main-padding: 5px;
}




.education-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "education-main1 education-main1 education-main2 education-main2"
    "education-content1 education-content2 education-content3 education-content4"
    "education-content5 education-content6 education-content7 education-content8"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-size: 15px;
  color: #fff5ea;
  text-align: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-top:50px;
}


#education-main1{

  grid-area: education-main1;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
  height: 300px;
  overflow: hidden;
}
#education-main2{

  grid-area: education-main2;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
  height: 300px;
  overflow: hidden;
}
#education-content1 {
  background: rgba(255, 255, 255, 0.13);
  grid-area: education-content1;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}

#education-content2 {
  background: rgba(255, 255, 255, 0.13);
  grid-area: education-content2;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content3 {
  background: rgba(255, 255, 255, 0.13);
  grid-area: education-content3;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content4 {
  background:rgba(255, 255, 255, 0.13);
  grid-area:education-content4;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content5 {
  background:rgba(255, 255, 255, 0.13);
  grid-area:education-content5;
   border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content6 {
  background:#3a4750;
  grid-area:education-content6;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content7 {
  background:#3a4750;
  grid-area:education-content7;
   border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}
#education-content8 {
  background:#3a4750;
  grid-area:education-content8;
   border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: var(--main-padding);
}


@media (max-width: 650px) {
  .education-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
      "education-main1 education-main1"
      "education-main2 education-main2"
      "education-content1 education-content2"
      "education-content3 education-content4"
      "education-content5 education-content6"
      "education-content7 education-content8"
      "footer footer"
  }
  #tech-main2{
    display: none;
  }
}
@media (max-width: 1000px) and (min-width:650px) {
  .education-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "education-main1 education-main2"
      "education-content1 education-content2"
      "education-content3 education-content4"
      "education-content5 education-content6"
      "education-content7 education-content8"
      "footer footer"
  }
}
.education-image-css-main {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 10px;

}

.education-image-css-main {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 10px;

}
.education-image-css {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 10px;
}
.education-p-tag-css {
  font-family: 'Lato',serif;
}
/*For removing the hyperlink deafult color */
a {
    color: white;
    text-decoration: none;
}

a:hover
{
     color:white;
     text-decoration:none;
     cursor:pointer;
}
/*-----------------------------------------------------------old css page ----------------------------------------------------------------       */

.card1 {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;


    /*padding-top: 30px;*/
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    color: #eeeeee;
    border-top: 2px solid #eeeeee;
    background-color: #222222;
    font-family: 'Lato', serif;
    font-size: 15px;
    /*height: 100%;*/
    min-width: 350px;
    max-width: 400px;

}

.con {
    padding: 2px 16px;
}
