
.c{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
    color: #eeeeee;
    border-top: 6px solid #febf0f   ;
    background-color:#222222;
    font-family:verdana;
    font-size: 12px;


}

.c:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.con {
  padding: 2px 16px;
}

.contain{

    float:left;
    position: absolute;
    padding-left: 20px;
  position: relative;
  font-family: Arial;
    /*height: 327px;*/

}
.contain h1{
    /*position: center;*/
    padding-left: 180px;
    color:#febf0f ;
}
.contain img{
     border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    height:307px ;
}

.text-block {
  position: absolute;
  bottom: 20px;
    font-size: 10px;
  background-color: black;
     opacity: 0.75;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
    /*height: 327px;*/
}

.card1{
     border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
margin-left: 20px;
    float: left;
    /*padding-top: 30px;*/
    margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
    postion:relative;
    color: #eeeeee;
    border-top: 6px solid #febf0f   ;
    background-color:#222222;
    font-family:verdana;
    font-size: 12px;
    /*height: 100%;*/

}

.cont{
    padding-top:60px;
    float:left;
    /*padding-left: 3000px;*/
    position: absolute;
    padding-left: 100px;
  position: relative;
  font-family: Arial;
    /*height: 327px;*/

}
.cont h1{
    /*position: center;*/
    padding-left: 180px;
    color:#febf0f ;
}
.cont img{
     border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    height:307px ;
}

