
       #footer-for-pages {


  
    grid-area: footer;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 300px;
    width: 100%;
        

       }

       .flex-container {
            display: flex;
            background-color: #303841;
            color: #effad3;
            font-size: 20px;
                width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        .flexcontainer-column {
            display: flex;
            background-color: #303841;
            color: #effad3;
            margin: 10px;
            padding: 10px;
            font-size: 20px;
            height: 300px;
            width: 100%;
            flex-direction: column;

        }

        .ul-styles {
            margin: 0px;
        }



