
#footer-for-pages {
    grid-area: footer;

}

.footer {
    width: 100%;
    margin: auto;
    padding: 30px 10px;
    display: block;
    background-color: #222222;
    color: #eee;
    font-family: 'Lato', serif;
    bottom: 0;
    left: 0;

}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;

}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: initial;
}


.footer-items-p {
    color: #eee;
    font-size: 16px;
    text-align: justify;
    font-weight: lighter;
    text-transform: uppercase;

}

.footer-border {
    height: 2px;
    width: 40px;
    background: #eee;

}

.footer-ul {
    list-style: none;
    color: #eee;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0px;
}

.footer-ul-a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer-ul-a:hover {
    color: red;
}

.footer-ul-li {
    margin: 10px 0;
    height: 25px;
}

.footer-li-img {
    margin-right: 20px;
}


@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}