:root {
  --main-radius: 5px;
  --main-padding: 5px;
}



.health-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "health health health health"
    "health-main health-main health-main health-main"
    "health-content health-content1 health-content2 health-content3"
    "healthnews healthnews healthnews healthnews";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff5ea;
  text-align: center;
}

#health {
  background: #303841;
  grid-area: health;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#health-main {
  background: #d72323;
  grid-area: health-main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#health-content1 {
  background: #303841;
  grid-area: health-content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#health-content2 {
  background: #3a4750;
  grid-area: health-content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#health-content {
  background:#3a4750;
  grid-area: health-content;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#health-content3 {
  background: #303841;
  grid-area: health-content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#healthnews {
  background: #d72323;
  grid-area: healthnews;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}



@media  screen and (max-width: 550px) {
  .health-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "health"
      "health-main"
      "health-content"
      "health-content1"
      "health-content2"
      "health-content3"
      "healthnews";
  }
}
@media  screen and (max-width: 900px) and (min-width:550px) {
  .health-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;

    grid-template-areas:
      "health health"
      "health-main health-main"
      "health-content health-content1"
      "health-content2 health-content3"
      "healthnews healthnews"
  }
}
