:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.audio {
    display: none;
}


.homepage-grid-container {
    display: grid;
    height: 100vh;

    grid-template-areas: "sidebar main1 main2"
    "sidebar content1 content2 "
    "main21 main22 main23"
    "content21 content22 content23"
    "footer footer footer";
    font-size: 12px;
    column-gap: 50px;
    row-gap: 100px;
}

#homepage-grid-main1 {

    grid-area: main1;
    height: 300px;
    max-width: 500px;

}

#homepage-grid-main2 {
    /*background: rgba(255, 255, 255, 0.13);*/
    grid-area: main2;
    max-width: 500px;

}


#homepage-scroll {
    grid-area: sidebar;
    margin: 0px;
}

#homepage-content1 {
    max-width: 500px;
    grid-area: content1;
    border-radius: 0px 30px 0px 30px;

}


#homepage-content2 {
    max-width: 500px;
    grid-area: content2;
    border-radius: 0px 30px 0px 30px;

}


#homepage-second-grid-main1 {
    max-width: 500px;
    grid-area: main21;
    height: 300px;


}

#homepage-second-grid-main2 {
    max-width: 500px;
    grid-area: main22;
    height: 300px;

}

#homepage-second-grid-main3 {
    grid-area: main23;
    height: 300px;
    max-width: 500px;

    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;

}


#second-content1 {
    max-width: 500px;
    grid-area: content21;
    border-radius: 0px 30px 0px 30px;


}


#second-content2 {
    max-width: 500px;
    grid-area: content22;

    border-radius: 0px 30px 0px 30px;

}

#second-content3 {


    max-width: 500px;
    grid-area: content23;
    border-radius: 0px 30px 0px 30px;
}

.homepage-image-css-main {
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    bottom: 10px;

}

.homepage-image-css {
    width: 100%;
    max-height: 300px;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    bottom: 10px;

}

.homepage-p-tag-css {
    font-family: 'Lato', serif;
    color: #eeeeee;
    background-color: #222222;
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    padding: 10px;
    bottom: 60px;
    font-size: 15px;

}

/*#content3 {*/
/*    grid-area: content3;*/
/*    border-radius: var(--main-radius);*/
/*    padding-top: var(--main-padding);*/
/*}*/

/*footer {*/
/*    background: rgba(255, 255, 255, 0.13);*/
/*    grid-area: footer;*/
/*    border-radius: var(--main-radius);*/
/*    padding-top: var(--main-padding);*/
/*    height: 100%;*/
/*    max-height: 100px;*/
/*}*/
.super-class {
    background-color: black;
}


.home-page-text-block {
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    background-color: #222222;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 327px; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 450px;
}

.home-page-cont {

    position: relative;
    font-family: 'Lato', serif;


}

.home-page-cont h1 {
    /*position: center;*/
    padding-left: 180px;
    color: #eeeeee;
}

.home-page-cont img {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 307px;
    width: 450px !important;
}


@media (max-width: 1050px) and (min-width: 600px) {
    .homepage-grid-container {
        display: grid;
        margin-top: 50px;
        grid-template-areas: "sidebar main1" "sidebar main2"  "content1 content2" "main21 main22" "content22 content21" "main23 content23" "footer footer";;

    }

    .homepage-grid-main2 {
        /*background: rgba(255, 255, 255, 0.13);*/
        grid-area: main2;

        margin: auto;
        height: 300px;

    }


}

@media (max-width: 600px) {
    .homepage-grid-container {
        display: grid;
        margin-top: 50px;
        grid-template-areas: "sidebar" "main1"  "main2"  "content1" "content2" "main21" "main22" "content22" "content21" "main23" "content23" "footer";;

    }

    .homepage-grid-main2 {
        /*background: rgba(255, 255, 255, 0.13);*/
        grid-area: main2;

        margin: auto;
        height: 300px;

    }

    #homepage-content1, #homepage-content2, #homepage-content3 {

    }
}

