

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}


.wrapper{

    display:grid;

    grid-template-columns: 1fr 1fr;


    grid-gap: 0.2rem;
  font-weight: 800;

  font-size: 12px;
  color: #fff5ea;
  text-align: center;
}

.id1{
    grid-row: 1/3;
}
.india:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
/**/
.wrapper > div{
    /*background:white;*/
    padding :1em;
}

.id1 > h1 {
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #FFEAA5;
  cursor: pointer;
  position: relative;
  transition: all .5s;
}

.id1 > h1::before {
  content: 'Trending';
  color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: all .5s;
}

.id1 > h1:hover::before {
  width: 100%;
}

/*-----------------------*/
#by {

  color: #C1D0D0;
  font-size: 10px;
  position: absolute;
  top: 12%;
  left: 25%;
  transform: rotate(-5deg)
}




.wrap2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.4rem;
  /*font-weight: 800;*/
    font-size: 12px;
  /*color: #fff5ea;*/
  text-align: center;
}


.card-3{
    /*border-bottom-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*transition: 0.3s;*/
    width: 70%;
    color: #eeeeee;
    border-left: 10px solid #eeeeee;
    background-color: #222222;
    font-family: 'Lato', serif;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*font-weight: 800;*/
    /*max-width: 400px;*/
    /*transition: width 2s;*/
}
/*.card-3:hover{*/
/*    width:90%;*/
/*}*/




#spin {
    font-size: 90px;
  color:red;
}
#spin:after {
  content:"";
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% { content:"IPL 2020"; }
  10% { content:"SSR case"; }
  20% { content:"Rhea chakroborty"; }
  30% { content:"TRP SCAM"; }
  40% { content:"NEET 2020"; }
  50% { content: "School Reopening";  }
  60% { content: "Sports";  }
  70% { content: "Income Tax 2020";  }
  80% { content: "COVID-19";  }
  90% { content: "Delhi Metro";  }
}


.wrap3{
   display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4rem;
    font-size: 12px;
  text-align: center;
}