:root {
  --main-radius: 5px;
  --main-padding: 5px;
}



.tech-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "tech-main1 tech-main1 tech-main2 tech-main2"
    "tech-content1 tech-content2 tech-content3 tech-content4"
    "tech-content5 tech-content6 tech-content7 tech-content8"
    "healthnews healthnews healthnews healthnews";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff5ea;
  text-align: center;
  row-gap: 10px;
  column-gap: 10px;
}


#tech-main1{
  background: #d72323;
  grid-area: tech-main1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-main2{
  background: #d72323;
  grid-area: tech-main2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content1 {
  background: #303841;
  grid-area: tech-content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#tech-content2 {
  background: #3a4750;
  grid-area: tech-content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content3 {
  background: #303841;
  grid-area: tech-content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content4 {
  background:#3a4750;
  grid-area:tech-content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content5 {
  background:#3a4750;
  grid-area:tech-content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content6 {
  background:#3a4750;
  grid-area:tech-content6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content7 {
  background:#3a4750;
  grid-area:tech-content7;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#tech-content8 {
  background:#3a4750;
  grid-area:tech-content8;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}



#healthnews {
  background: #d72323;
  grid-area: healthnews;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


@media  screen and (max-width: 550px) {
  .tech-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "health"
      "tech-main"
      "tech-content"
      "tech-content1"
      "tech-content2"
      "tech-content3"
      "healthnews";
  }
}
@media  screen and (max-width: 900px) and (min-width:550px) {
  .tech-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;

    grid-template-areas:
      "health health"
      "tech-main tech-main"
      "tech-content tech-content1"
      "tech-content2 tech-content3"
      "healthnews healthnews"
  }
}
