{% extends 'Navbar.html' %}

{% load static %}

{% block content %}
    <style>
        .prev-post-user {
            width: 100%;
            height: 100%;
            background-color: #3a4750;
            margin: 50px auto;
            border-radius: 10px;
        }

        #prev-post-css-table {



        {#border-top-right-radius: 10px;#}{#border-bottom-left-radius: 10px;#} margin: auto;
            width: 100%;
            border-spacing: 2px;


        }

        #prev-post-css-table tr {
            color: #303841;
            text-align: center;

        }

        #prev-post-css-table thead th {


            color: #eeeeee;
            background-color: #303841;
            text-align: center;
            text-transform: uppercase;
            font-weight: ;
            font-family: 'Lato', Serif;
            padding: 10px;
            border-radius: 10px;

        }

        #prev-post-css-table td {
            border-radius: 10px;

        }
    </style>
    <div class="prev-post-user">
        <table id="prev-post-css-table">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>posted at</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>123123</td>
                <td>The Myth Of Modi The Economic Reformer - by Ramachandra Guha</td>
                <td></td>
            </tr>
            </tbody>


        </table>
    </div>
    {% include 'footer.html' %}
{% endblock %}