{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

    <div class="tech-container">
        <div id="tech-main1">
            {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-1' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none">
                    {% if tech_story.image != '' %}

                        <img class="tech-image-css-main"
                             src="{{ tech_story.image }}"
                             alt="">
                          {% else %}
                        <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}


        </div>
        <div id="tech-main2">
            {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-2' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content1">
             {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-3' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content2">
             {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-4' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content3">
            {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-5' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content4">
            {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-6' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content5">
           {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-7' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="tech-content6">
           {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-8' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
        </div>
        <div id="tech-content7">
           {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-9' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
        </div>
        <div id="tech-content8">
           {% for tech_story in tech_stories %}
                {% if tech_story.section == 'technology-cell-10' %}
                    <a href="{% url 'article' tech_story.category tech_story.section tech_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if tech_story.image != '' %}

                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="tech-image-css-main"

                                 src="{{ tech_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="tech-p-tag-css">
               {{ tech_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        {% include 'footer.html' %}
    </div>



{% endblock %}
