{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

    <div class="business-container">
        <div id="business-main1">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_e5423"></div>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NASDAQ-AAPL/"
                                                             rel="noopener" target="_blank"><span
                        class="blue-text"></span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": 700,
                            "height": 400,
                            "symbol": "NASDAQ:AAPL",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "dark",
                            "style": "1",
                            "locale": "in",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_e5423"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->


            <!--    -->
            <!--<img class="business-image-css-main"-->
            <!--    src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202010/SC_PTI_1200x768.png?lS4x2mrMxx_SAYHB70Lcf6ieT9qRKwaW&size=770:433"-->
            <!--    alt="">-->

        </div>
        <div id="business-main2">
            {% for business_story in business_stories %}
                {% if business_story.section == 'business-cell-1' %}
                    <a href="{% url 'article' business_story.category business_story.section business_story.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_story.image != '' %}

                            <img class="business-image-css-main"
                                 src="{{ business_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css-main"

                                 src="{{ business_story.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="business-content1">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-2' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
        </div>
        <div id="business-content2">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-3' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="business-content3">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-4' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="business-content4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com" rel="noopener"
                                                             target="_blank"><span class="blue-text"></span></a></div>
                <script type="text/javascript"
                        src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                    {
                        "width"
                    :
                        "100%",
                            "height"
                    :
                        "auto",
                            "symbolsGroups"
                    :
                        [
                            {
                                "name": "Indices",
                                "originalName": "Indices",
                                "symbols": [
                                    {
                                        "name": "FOREXCOM:SPXUSD",
                                        "displayName": "S&P 500"
                                    },
                                    {
                                        "name": "FOREXCOM:NSXUSD",
                                        "displayName": "Nasdaq 100"
                                    },
                                    {
                                        "name": "FOREXCOM:DJI",
                                        "displayName": "Dow 30"
                                    },
                                    {
                                        "name": "INDEX:NKY",
                                        "displayName": "Nikkei 225"
                                    },
                                    {
                                        "name": "INDEX:DEU30",
                                        "displayName": "DAX Index"
                                    },
                                    {
                                        "name": "FOREXCOM:UKXGBP",
                                        "displayName": "FTSE 100"
                                    }
                                ]
                            },
                            {
                                "name": "Commodities",
                                "originalName": "Commodities",
                                "symbols": [
                                    {
                                        "name": "CME_MINI:ES1!",
                                        "displayName": "S&P 500"
                                    },
                                    {
                                        "name": "CME:6E1!",
                                        "displayName": "Euro"
                                    },
                                    {
                                        "name": "COMEX:GC1!",
                                        "displayName": "Gold"
                                    },
                                    {
                                        "name": "NYMEX:CL1!",
                                        "displayName": "Crude Oil"
                                    },
                                    {
                                        "name": "NYMEX:NG1!",
                                        "displayName": "Natural Gas"
                                    },
                                    {
                                        "name": "CBOT:ZC1!",
                                        "displayName": "Corn"
                                    }
                                ]
                            },
                            {
                                "name": "Bonds",
                                "originalName": "Bonds",
                                "symbols": [
                                    {
                                        "name": "CME:GE1!",
                                        "displayName": "Eurodollar"
                                    },
                                    {
                                        "name": "CBOT:ZB1!",
                                        "displayName": "T-Bond"
                                    },
                                    {
                                        "name": "CBOT:UB1!",
                                        "displayName": "Ultra T-Bond"
                                    },
                                    {
                                        "name": "EUREX:FGBL1!",
                                        "displayName": "Euro Bund"
                                    },
                                    {
                                        "name": "EUREX:FBTP1!",
                                        "displayName": "Euro BTP"
                                    },
                                    {
                                        "name": "EUREX:FGBM1!",
                                        "displayName": "Euro BOBL"
                                    }
                                ]
                            },
                            {
                                "name": "Forex",
                                "originalName": "Forex",
                                "symbols": [
                                    {
                                        "name": "FX:EURUSD"
                                    },
                                    {
                                        "name": "FX:GBPUSD"
                                    },
                                    {
                                        "name": "FX:USDJPY"
                                    },
                                    {
                                        "name": "FX:USDCHF"
                                    },
                                    {
                                        "name": "FX:AUDUSD"
                                    },
                                    {
                                        "name": "FX:USDCAD"
                                    }
                                ]
                            }
                        ],
                            "colorTheme"
                    :
                        "dark",
                            "isTransparent"
                    :
                        true,
                            "locale"
                    :
                        "in"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
            <!--<img class="business-image-css" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202010/Screenshot_2020-10-14_at_1.56._1200x768.png?X95fvxbsl0AmnyBsEGGXDja_NbXF6Qd7&size=770:433" alt="">
            <p style="font-family: 'Lato',serif;
                      columns: #eeeeee;"  class="business-p-tag-css">Loan restructuring: Only standard accounts as of March 1 can apply, says RBI</p>
        -->
        </div>
        <div id="business-content5">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-5' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
        </div>
        <div id="business-content6">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-6' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

        </div>
        <div id="business-content7">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-7' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}
        </div>
        <div id="business-content8">
            {% for business_stories in business_stories %}
                {% if business_stories.section == 'business-cell-8' %}
                    <a href="{% url 'article' business_stories.category business_stories.section business_stories.news_unique_id %}"
                       style="text-decoration: none">
                        {% if business_stories.image != '' %}

                            <img class="business-image-css"
                                 src="{{ business_stories.image }}"
                                 alt="">
                        {% else %}
                            <img class="business-image-css"

                                 src="{{ business_stories.image_link }}"
                                 alt="">
                        {% endif %}
                        <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="business-p-tag-css">
                            {{ business_stories.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


        </div>
        {% include 'footer.html' %}

    </div>



{% endblock %}
