{% extends 'Navbar.html' %}

{% load static %}

<body>
{% block content %}



    <div class="grid-container">
        <main class="grid-main">Main</main>

        <div id="sidebar">

            <div class="education-table-box-for-scrollable">
                <label class="education-table-box-for-scrollable-text-main">Educational Top Stories</label>
                <div class="education-box-for-scrollable">

                    <table>
                        <tr>
                            {% for top_story in top_stories %}
                                <div id="myBtn" class="education-row-for-each-story">
                        <span class="education-image-position-each-row"><img class="education-image-for-row"
                                                                             src="{{ top_story.image }}" alt=""></span>
                                    <span class="education-news-post-text-for-top-stories">{{ top_story.title }}</span>
                                </div>


                            {% endfor %}
                        </tr>
                    </table>
                    <div id="bottom"></div>
                </div>
            </div>

        </div>
        <div id="content1">

            <div class="aarr-body">
                <div class="news-post">
                    <div class="news-post-img">
                        {#            <div class="news-post-date">#}
                        {#                <span class="news-date-size-day">30</span>#}
                        {#                <span class="news-date-size-month">September</span>#}
                        {#                <span class="news-date-size-year">2020</span>#}
                        {#            </div>#}
                        <img src="{% static 'css/Jake.jpg' %}" alt=""/>
                        <div class="news-post-info">
                            <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                                Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames
                                Again Threaten Mt. Wilson - LAistBobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div id="content2">

            <div class="aarr-body">
                <div class="news-post">
                    <div class="news-post-img">
                        {#            <div class="news-post-date">#}
                        {#                <span class="news-date-size-day">30</span>#}
                        {#                <span class="news-date-size-month">September</span>#}
                        {#                <span class="news-date-size-year">2020</span>#}
                        {#            </div>#}
                        <img src="{% static 'css/Jake.jpg' %}" alt=""/>
                        <div class="news-post-info">
                            <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                                Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames
                                Again Threaten Mt. Wilson - LAistBobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div id="content3">

            <div class="aarr-body">
                <div class="news-post">
                    <div class="news-post-img">
                        {#            <div class="news-post-date">#}
                        {#                <span class="news-date-size-day">30</span>#}
                        {#                <span class="news-date-size-month">September</span>#}
                        {#                <span class="news-date-size-year">2020</span>#}
                        {#            </div>#}
                        <img src="{% static 'css/Jake.jpg' %}" alt=""/>
                        <div class="news-post-info">
                            <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                                Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames
                                Again Threaten Mt. Wilson - LAistBobcat Fire: Fire Burns Through More Than 106K
                                Acres; Flames
                                Again Threaten Mt. Wilson - LAist
                            </a>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

{% endblock %}
