{% extends 'Navbar.html' %}

{% load static %}

{% block content %}

<div class="health-container">
  <div id="health-main1">
      {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-3' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}







  </div>
  <div id="health-main2">
      {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-2' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                    </a>

                {% endif %}

            {% endfor %}


    
  </div>
  <div id="health-content1">
      {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-4' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

    
      </div>
  <div id="health-content2">
    {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-5' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


  </div>
  <div id="health-content3">
<!--    <img class="health-image-css" src="https://c.ndtvimg.com/2018-09/60mi1mpg_adhd_625x300_11_September_18.jpg" alt="">-->
<!--             <p style="font-family: 'Lato',serif;-->
<!--              columns: #eeeeee;"  class="health-p-tag-css"> ADHD In Children: 5 Signs And Symptoms Parents Should Watch Out For</p>-->
<div data-cdc-widget="FoodRecall" data-instance-name="Food%20Recall%20Widget" data-widget-max-width="280px" data-news-feed-type="xml" data-news-feed="https%3A%2F%2Ftools.cdc.gov%2Fapi%2Fv2%2Fresources%2Fmedia%2F316422.rss" data-widget-title="Food%20Recalls" data-widget-max-height="300px" ></div>
 <script src="https://tools.cdc.gov/1M1B"></script>
  </div>
  <div id="health-content4">
   {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-1' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


  </div>
  <div id="health-content5">
    {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-6' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


  </div>
  <div id="health-content6">
    {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-7' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}

  </div>
  <div id="health-content7">
   {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-8' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


  </div>
  <div id="health-content8">
    {% for health_story in health_stories %}
                {% if health_story.section == 'health-cell-9' %}
                    <a href="{% url 'article' health_story.category health_story.section health_story.news_unique_id %}"
                       style="text-decoration: none;">
                        {% if health_story.image != '' %}

                            <img class="health-image-css-main"

                                 src="{{ health_story.image }}"
                                 alt="">
                        {% else %}
                            <img class="health-image-css-main"

                                 src="{{ health_story.image_link }}"
                                 alt="">
                        {% endif %}
                      <p style="font-family: 'Lato',serif;
                                color:white;text-decoration: none;
              " class="health-p-tag-css">
               {{ health_story.title }}</p>
                    </a>

                {% endif %}

            {% endfor %}


  </div>
       {% include 'footer.html' %}
</div>



{% endblock %}
