{% extends 'Navbar.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

</head>
<body>
{% block content %}
    <div class="aarr-html">
    <div class="aarr-body">
    <div class="news-post">
        <div class="news-post-img">
            <div class="news-post-date">
                <span class="news-date-size-day">30</span>
                <span class="news-date-size-month">September</span>
                <span class="news-date-size-year">2020</span>
            </div>
            <img src="{% static 'css/Jake.jpg' %}" alt=""/>
            <div class="news-post-info">
                <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames
                    Again Threaten Mt. Wilson - LAist</a>

            </div>
        </div>

    </div>

    </div>
    </div>
        <div class="aarr-html">
    <div class="aarr-body">
    <div class="news-post">
        <div class="news-post-img">
            <div class="news-post-date">
                <span class="news-date-size-day">30</span>
                <span class="news-date-size-month">September</span>
                <span class="news-date-size-year">2020</span>
            </div>
            <img src="{% static 'css/Jake.jpg' %}" alt=""/>
            <div class="news-post-info">
                <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames
                    Again Threaten Mt. Wilson - LAist</a>

            </div>
        </div>

    </div>

    </div>
    </div>

    <div class="table-box-for-scrollable">
    <label class="table-box-for-scrollable-text-main">Top Stories</label>
<div class="box-for-scrollable">

    <table>
        <tr>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
              <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
              <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>
            <div class="row-for-each-story">
                <span class="image-position-each-row"><img class="image-for-row" src="{% static 'css/Jake.jpg' %}" alt=""></span>
                <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
            </div>

        </tr>
    </table>
    <div id="bottom"></div>
</div>
</div>
{% endblock %}



</body>
</html>