{% extends 'Navbar.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

</head>
<body>
{% block content %}

    <a href="#card" class="post">
        <div class="header_post">
            <img src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                 alt="">
        </div>

        <div class="body_post">
            <div class="post_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda cumque deserunt
                    dolorum ex exercitationem.</p>
                <div class="container_infos">
                    <div class="postedBy">
                        <span>author</span>
                        John Doe
                    </div>
                </div>
            </div>
        </div>
    </a>





    <div class="table-box-for-scrollable">
        <label class="table-box-for-scrollable-text-main">Top Stories</label>
        <div class="box-for-scrollable">

            <table>
                <tr>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{% static 'css/Jake.jpg' %}" alt=""></span>
                        <span class="news-post-text-for-top-stories">Lorem ipsum dolor sit amet, cunt quo, rem veritatis voluptatibus! Aperiam nulla numquam quod?</span>
                    </div>

                </tr>
            </table>
            <div id="bottom"></div>
        </div>
    </div>
{% endblock %}


</body>
</html>