{% extends 'Navbar.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

</head>
<body>
{% block content %}
        <div class="table-box-for-scrollable">
        <label class="table-box-for-scrollable-text-main">Top Stories</label>
        <div class="box-for-scrollable">

            <table>
                <tr>
                    {% for top_story in top_stories %}
                    <div class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{{ top_story.image }}" alt=""></span>
                        <span class="news-post-text-for-top-stories">{{top_story.title}}</span>
                    </div>
                    {% endfor %}
                </tr>
            </table>
            <div id="bottom"></div>
        </div>
    </div>
{% endblock %}


</body>
</html>