{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Journalist</title>
    <link href="{% static '/css/css_login_form.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static '/assets/news.png' %}"/>
    <link href="{% static '/css/index_style1.css' %}" rel="stylesheet">
    <link href="{% static '/css/newsCard.css' %}" rel="stylesheet">
    <link href="{% static '/css/top_story1.css' %}" rel="stylesheet">
    <link href="{% static '/css/education1.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .custom-icon-class-style {
            margin-right: 5px;
            margin-bottom: -2px;
        }
    </style>

</head>
<body style="
 background-color: #303841;
 ">

<div style="
        width: 100%;
        height:50px;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;" class="header-class">
    <h1
            style="margin-top: -12px;
        font-family: 'Cinzel', serif;
        color:  #eeeeee;
        ">The Journalist</h1>
</div>
<div id="mySidenav" class="sidenav">
    <div style="text-align: start;">
        <div style="
    background: rgba(255,255,255,0.3);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
    text-align: center;
    padding: 70px 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color:#eeeeee;
">

            {{ user.first_name }}
            <br/>
            {{ user.last_name }}


        </div>
        <hr>
        <a href="javascript:void(0)" class="closebtn" onclick="closeDrawer()">&times;</a>
        <a style="margin-top:25px " href="{% url 'profile' %}"><img class="custom-icon-class-style"
                                                  src="{% static '/assets/account.png' %}" alt="">Profile</a>
        <a href="#"><img class="custom-icon-class-style" src="{% static '/assets/postnews.png' %}" alt="">Post
            Article</a>
        <a href="#"><img class="custom-icon-class-style" src="{% static '/assets/journal.png' %}" alt="">Previous Posts</a>
        <a href="{% url 'logout' %}"><img class="custom-icon-class-style" src="{% static '/assets/logout.png' %}"
                                          alt="">Log Out</a>
    </div>

</div>

<div class="topnav" id="myTopnav">
    <a href="{% url 'home' %}"><img class="custom-icon-class-style" src="{% static '/assets/current.png' %}" alt="">Latest</a>
    <a href="{% url 'india' %}"><img class="custom-icon-class-style" src="{% static '/assets/india.png' %}" alt="">India</a>
    <a href="{% url 'education' %}"><img class="custom-icon-class-style" src="{% static '/assets/education.png' %}"
                                         alt="">Education</a>
    <a href="{% url 'business' %}"><img class="custom-icon-class-style" src="{% static '/assets/business.png' %}"
                                        alt="">Business</a>

    <a href="{% url 'world' %}"><img class="custom-icon-class-style" src="{% static '/assets/world.png' %}" alt="">World</a>
    <a href="{% url 'technology' %}"><img class="custom-icon-class-style" src="{% static '/assets/connect.png' %}"
                                          alt="">Technology</a>
    <a href="{% url 'health' %}"><img class="custom-icon-class-style" src="{% static '/assets/hospital.png' %}" alt="">Health</a>
    {% if user.journal_access %}
        <a style="justify-content:flex-end;" href="javascript:void(0)" onclick="openDrawer()"><img style="margin-right: 5px;

            margin-bottom: -5px;"
                                                                                                   src="{% static '/assets/profile.png' %}"
                                                                                                   alt="">Profile</a>
    {% else %}
        <a href="{% url 'login' %}"><img class="custom-icon-class-style" src="{% static '/assets/pen.png' %}" alt="">Sign
            In/Up</a>
    {% endif %}



    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>


</div>


</body>
{% block content %}

{% endblock %}
 <footer>Footer</footer>
<script src="{% static '/js/script.js' %}"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }


    function openDrawer() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeDrawer() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>