{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html class="aarr-html">
    <head>
        <title></title>

    </head>
    <body class="aarr-body">
    <div class="news-post">
        <div class="news-post-img">
            <div class="news-post-date">
                <span class="news-date-size-day">30</span>
                <span class="news-date-size-month">September</span>
                <span class="news-date-size-year">2020</span>
            </div>
            <img src="{% static 'css/Jake.jpg' %}" alt=""/>
            <div class="news-post-info">
                <a href="#about" class="news-post-title">Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist</a>
{#                <p class="news-post-text">#}
{#                    India has gone into overdrive to initiate new projects in#}
{#                    Bangladesh and improve cross-border trade. This week it delivered ten broad-gauge locomotives to#}
{#                    Dhaka,#}
{#                    and earlier this month, that is,#}
{#                </p>#}
            </div>
        </div>

    </div>

    </body>


</html>
{% endblock %}