{% extends 'Navbar.html' %}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <head>
        <link href="{% static '/css/index_style1.css' %}" rel="stylesheet">
    </head>
</head>
<body>
{% block content %}

{# Grid layout start from here #}
<div class="homepage-grid-container">
    {# grid main #}
    <main class="homepage-grid-main1" id="grid">

                <div class="home-page-cont">

                    <img src="https://c.ndtvimg.com/2020-09/tsosgnm_joe-biden-afp_625x300_30_September_20.jpg"
                         alt="Nature" style="width:100%;">
                    <div class="home-page-text-block">

                        <p>Can Trump Pull It Off? The Odds Favour Biden, But...</p>
                    </div>
                </div>



    </main>
    <main class="homepage-grid-main2">
        <div class="card1">
            <div class="con">

                <p>49 Workers Stranded For Months In UAE Brought Back To India: Report</p>
            </div>


        </div>

        <div class="card1">
            <div class="con">

                <p>Immunity Against COVID-19 May Last For Months, Shows Study Led By Indian-Origin Researcher.
                    
                </p>
            </div>
        </div>

    </main>
    {# The Below is The Top Stories Scrollabel#}
    <div id="homepage-scroll">
        <div class="table-box-for-scrollable">
            <label class="table-box-for-scrollable-text-main">Top Stories</label>
            <div class="box-for-scrollable">

                <table>
                    <tr>
                        {% for top_story in top_stories %}
                        <div id="myBtn" class="row-for-each-story">
                        <span class="image-position-each-row"><img class="image-for-row"
                                                                   src="{{ top_story.image }}" alt=""></span>
                            <span class="news-post-text-for-top-stories">{{top_story.title}}</span>
                        </div>


                        {% endfor %}
                    </tr>
                </table>
                <div id="bottom"></div>
            </div>
        </div>
    </div>

    {# The Above is The Top Stories Scrollabel#}

    {# content 1 #}
    <div id="homepage-content1">

        <div class="home-page-cont">

            <img src="https://i.ndtvimg.com/i/2015-10/carbon-emission-reuters_650x400_81443754057.jpg"
                 alt="Nature" style="width:100%;">
            <div class="home-page-text-block">

                <p> Drop In Emissions During Lockdown Largest In Modern History: Study</p>
            </div>
        </div>
    
    </div>
    {# content one end #}
    <div id="homepage-content2">
        <div class="home-page-cont">

            <img src="https://c.ndtvimg.com/2020-10/8aj2v0jg_kate-rubins-sergey-ryzhikov-and-sergey-kudsverchkov_625x300_14_October_20.jpg"
                 alt="Nature" style="width:100%;">
            <div class="home-page-text-block">

                <p> 3-Person Crew Blasts Off For International Space Station In Russian Capsule</p>
            </div>
        </div>
       
    </div>
    {# content 2 end #}
    {# content 3 end#}




    {# grid main #}
    <main class="homepage-second-grid-main1" id="grid">

        <div class="home-page-cont">

            <img src="https://images.thequint.com/thequint%2F2018-08%2F9b7cf7c8-4db9-4ce1-bdd4-72376228838d%2Fec6c9f38_89ae_4111_a2e3_22abe6df8bd9.jpg?rect=0%2C0%2C640%2C360&auto=format%2Ccompress&fmt=webp&format=webp&w=480&dpr=1.0"
                 alt="Nature" style="width:100%;">
            <div class="home-page-text-block">

                <p>Self-Care in a Pandemic: How Do You Be Kind to Yourself?</p>
            </div>
        </div>
    </main>
    <main class="homepage-second-grid-main2" >

                <div class="home-page-cont">

                    <img src="https://images.thequint.com/thequint%2F2018-08%2F9b7cf7c8-4db9-4ce1-bdd4-72376228838d%2Fec6c9f38_89ae_4111_a2e3_22abe6df8bd9.jpg?rect=0%2C0%2C640%2C360&auto=format%2Ccompress&fmt=webp&format=webp&w=480&dpr=1.0"
                         alt="Nature" style="width:100%;">
                    <div class="home-page-text-block">

                        <p>Self-Care in a Pandemic: How Do You Be Kind to Yourself?</p>
                    </div>
                </div>



    </main>
    <main class="homepage-second-grid-main3">
        <div class="card1">
            <div class="con">

                <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                    Bobcat
                    Fire: Fire Burns Through More Than 106K Acres; Flames</p>
            </div>


        </div>

        <div class="card1">
            <div class="con">

                <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                    Bobcat
                    Fire: Fire Burns Through More Than 106K Acres; Flames</p>
            </div>
        </div>

    </main>
 

    {# content 1 #}
    <div id="second-content1">
       
        
        <div class="home-page-cont">

            <img src="https://images.thequint.com/thequint%2F2018-08%2F9b7cf7c8-4db9-4ce1-bdd4-72376228838d%2Fec6c9f38_89ae_4111_a2e3_22abe6df8bd9.jpg?rect=0%2C0%2C640%2C360&auto=format%2Ccompress&fmt=webp&format=webp&w=480&dpr=1.0"
                 alt="Nature" style="width:100%;">
            <div class="home-page-text-block">

                <p>Self-Care in a Pandemic: How Do You Be Kind to Yourself?</p>
            </div>
        </div>

          
                
    
    </div>
    {# content one end #}
    <div id="second-content2">
      
        
        <div class="home-page-cont">

            <img src="https://images.thequint.com/thequint%2F2018-08%2F9b7cf7c8-4db9-4ce1-bdd4-72376228838d%2Fec6c9f38_89ae_4111_a2e3_22abe6df8bd9.jpg?rect=0%2C0%2C640%2C360&auto=format%2Ccompress&fmt=webp&format=webp&w=480&dpr=1.0"
                 alt="Nature" style="width:100%;">
            <div class="home-page-text-block">

                <p>Self-Care in a Pandemic: How Do You Be Kind to Yourself?</p>
            </div>
        </div>

         
                
    </div>
    {# content 2 end #}
    {# content 3 end#}
    <div id="second-content3">
        <div class="card1">
            <div class="con">

                <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                    Bobcat
                    Fire: Fire Burns Through More Than 106K Acres; Flames</p>
            </div>


        </div>

        <div class="card1">
            <div class="con">

                <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                    Bobcat
                    Fire: Fire Burns Through More Than 106K Acres; Flames</p>
            </div>
        </div>
        <div class="card1">
            <div class="con">

                <p>Bobcat Fire: Fire Burns Through More Than 106K Acres; Flames Again Threaten Mt. Wilson - LAist
                    Bobcat
                    Fire: Fire Burns Through More Than 106K Acres; Flames</p>
            </div>
        </div>
    </div>
 
</div>


{% endblock %}


</body>
</html>